@charset "utf-8";
headings.css {
    font-size: large;
    font-weight: bold;
    font-style: oblique;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    color: 000033;
}
text {
    font-size: medium;
    font-weight: normal;
    font-style: normal;
}
