@charset "utf-8";
input:focus, select:focus, textarea:focus  {
		 	 		backgraound-color: rgb(220, 255, 220)
			 	}
			  	
			  	input#name:focus:valid,
			  	input#zip:focus:valid,
			  	input#phone:focus:valid,
		  		input#mail:focus:valid {
		  			background: rgb(220, 255, 220) url(rb_vaild.png) bottem right/contain no-repeat
				}
		  
				input#name:focus:invalid,
			  	input#zip:focus:invalid,
			  	input#phone:focus:invalid,
		  		input#mail:focus:invalid {
		  			background: rgb(255, 232, 233) url(rb_invaild.png) bottem right/contain no-repeat
				}